
/* NAVIGATION TABS - START */
	 #tabs {
      float:left;
      width:100%;
      background:#ffffff;
      font-size:93%;
      line-height:normal;
	   border-bottom:1px solid #000000;
	   margin: 0px;
	   padding: 0px;
      }
    #tabs ul {
	  margin:0;
	  padding:0px 0px 0 0px;
	  list-style:none;
      }
    #tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs a {
	  font: bold 11pt Arial, sans-serif;
      float:left;
      background:url("http://www.thescripts.com/images/tableftB.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #tabs a span {
      float:left;
      display:block;
      background:url("http://www.thescripts.com/images/tabrightB.gif") no-repeat right top;
      padding:5px 10px 2px 4px;
      color:#ffffff;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#000;
      }
    #tabs a:hover {
      background-position:0% -42px;
      }
    #tabs a:hover span {
      background-position:100% -42px;
      }
	#tabs #active{
      background-position:0% -42px;
	}
	#tabs #active span {
      background-position:100% -42px;
	  color:#000000;
    }
	
/* NAVIGATION TABS - end */

/* OTHER */
	.maintable{
		position: relative;
		width: 950px;
		padding:0px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		border-spacing: 0px;
		border-collapse: collapse;
		background: #ffffff;
	}
	.navtable{
		position: relative;
		width: 950px;
		padding: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		background: #ffffff;
	}
	.adtable{
		position: relative;
		width: 950px;
		padding: 0px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		background: #ffffff;
		text-align: left;
	}
	.jointable{
		position: relative;
		width: 950px;
		padding: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		border-collapse: collapse;
		background: #FFFFE6;
		font-size:14pt;
	}
	.jointable a:link, .jointable a:hover, .jointable a:visited{
		color: #1C7EE7;
	}
	.searchbox{
		float: right;
		padding: 0px;
		margin: 0px;
	}

	body{
		margin: 0px;
		padding: 0px;
		background: #FFFFFF;
	}
	.logo_leader{
		height: 30px;
		margin-bottom: 10px;
		}
	.top_header{
		padding: 5px;
		margin: 0px;
		font-weight: bold;
		font-size: 10pt;
	}
	.top_header_login{
		font-size: 9pt;
		font-weight: bold;
	}
	a:link{
		color: #105CB6;
	}
	a:visited{
		color: #105CB6;
	}
	a:hover{
		color: #000;
	}
	.footer td{
		padding: 20px;
		border-top: 1px solid #EEEEEE;
		font-size: 11px;
		font-weight: bold;
	}
	#top_members{
		width: 120px;
		padding: 0px;
		margin:0px;
	}
	#top_members ul{
		padding: 0px;
		margin: 0px;
		list-style:none;
	}
	#top_members ul li{
		padding-bottom: 15px;
		font-size: 8pt;
	}
	#top_members li div{
		float: left;
		border:1px solid #E2E2E2;
		padding: 1px;
		margin: 1px;
	}
	#top_members ul a{
		font-weight: bold;
	}
	.signupmsg{
		width:125px;
		background: #FFD100;
		padding:5px;
		font-weight:bold;
		margin-top:5px;
	}
	.small{
		font-size: 9pt;
	}
	#dz_list{
		width: 130px;
		padding: 0px;
		margin-left:4px;
	}
	#dz_list ul{
		padding: 0px;
		margin: 0px;
		list-style:none;
	}
	#dz_list ul li{
		padding-bottom: 3px;
		font-size: 9pt;
	}
	#dz_list ul a{
		font-weight: bold;
	}
	.dz_text{
		font-size: 9pt;
		font-weight: bold;
	}
	.wysiwyg{
		background: #FFFFFF url(http://www.thescripts.com/images/watermark_code.gif) no-repeat top left;;
	}
	.forum_title{
		margin: 0px;
		padding: 0px;
		padding-left: 5px;
		font-size: 10pt;
	}
	.forum_title h1{
		font-weight: bold;
		font-size:12pt;
		margin: 0px;
		padding: 0px;
	}
/* LEFT COLUMN */
	.leftcol{
		padding: 0px;
		padding-bottom: 0px;
		margin: 0px;
	}
	.top_yellow{
		background-image: url(http://www.thescripts.com/images/lc_box_top.jpg);
		background-repeat: no-repeat;
		height: 3px;
	}
	.bottom_yellow{
		background-image: url(http://www.thescripts.com/images/lc_box_bottom_yellow.jpg);
		background-repeat: no-repeat;
		height: 3px;
		margin-bottom: 15px;
	}
	.bottom_white{
		background-image: url(http://www.thescripts.com/images/lc_box_bottom_white.jpg);
		background-repeat: no-repeat;
		height: 3px;
		margin-bottom: 15px;
	}
	.content_solid{
		border-right: 1px solid #666666;
		border-left: 1px solid #666666;
		background: #FFFFE6;
		padding: 5px;
	}
	.content_grad{
		border-right: 1px solid #666666;
		border-left: 1px solid #666666;
		padding: 5px;
		background-image: url(http://www.thescripts.com/images/lc_grad.jpg);
		background-repeat: repeat-x;
	}
	.spacer{
		clear: both;
		line-height: 0;
		font-size: 0;
	}
	#form_search{
		padding: 0px;
		margin: 0px;
		width: 130px;
	}
	.leftcol_title{
		font-size:8pt;
		font-weight: bold;
		padding-bottom:5px;
		width: 125px;
	}
	.guidelinesbox{
		padding:5px;
		font-size: 9pt;
		line-height: 10pt;
	}
	.guidelines{
		padding-left: 20px;
		margin: 0px;
		font-size:9pt;
		list-style: square;
	}
	.guidelines li{
		font-size: 9pt;
		padding: 3px;
		margin: 0px;
	}
	.listingcat a{
		font-size:14pt;
		padding: 4px;
		line-height: 20pt;
		font-weight:bold;
	}
	.highlight{
		background: #FFCD00;
	}
	.searchbox{
		font-size:9pt;
		padding: 10px;
	}

/* QUICK BROWSE - start */
	#quickbrowse{
		margin: 0px;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 0px;
	}
	.qb_display{
		position: absolute; 
		top: 195px; 
		left: 295px; 
		padding: 0px;
		margin: 0px;
		width: 615px;
		height: 210px;
		background-image: url(http://www.thescripts.com/images/qb_background.jpg);
		background-repeat: no-repeat;
		background-position: top right;
	}
	.hidden{
		visibility: hidden; 
	}
	.qb_category{
		width: 105px; 
		padding: 0px;
		margin: 0px;
		background: #f2f2f2;
	}
	.qb_category ul{
		margin: 0px;
		padding: 0px;
		padding-left: 5px;
		list-style-type: none;
	}
	.qb_category li{
		margin: 0;
		line-height: 20px;
	}
	.qb_category a{
		display: block;
		width: 100px;
		padding: 2px 2px 2px 10px;
		background: #F2F2F2;
		font-weight: bold;
	}
	.qb_category a:hover{
		background: #E4E4E4;
		background-image: url(http://www.thescripts.com/images/qb_arrow.gif);
		background-repeat: no-repeat;
		background-position: center right;

	}

	.qb_title{
		width: 105px;
		margin: 0px;
		padding: 0px;
		margin-top: 30px;
		text-align: right;
		font-weight: bold;
		font-size: 8pt;
		margin-bottom: 2px;
	}
	.qb_opennav{
		margin: 0px;
		padding: 0px;
		height: 12px;
		background-image: url(http://www.thescripts.com/images/qb_opennav.jpg);
		background-repeat: no-repeat;
	}
	.qb_closenav{
		margin: 0px;
		padding: 0px;
		height: 12px;
		background-image: url(http://www.thescripts.com/images/qb_closenav.jpg);
		background-repeat: no-repeat;
	}
	.qb_display p{
		padding: 10px;
		margin: 0px
	}
/* QUICK BROWSE - end */

/* FRONT PAGE - start */
	#frontpage{
		padding: 0px;
		margin: 0px;
		margin-top: 25px;
	}
	#frontpage h2{
		margin: 0px;
		padding: 0px;
		font-size: 16px;
		padding-bottom: 5px;
		padding-top: 20px;
	}
	.fp_date{
		width: 35x;
		background: #F1F5FA;
		font-size: 16pt;
		font-weight: bold;
		color: #666666;
		background-repeat: no-repeat;
		background-position: 5px 10px;
	}
	.commentbox{
		width: 60px;
		height: 61px;
		text-align: center;
		padding-top: 20px;
		margin: 0px;
	}
	.fp_listing_blue{
		background-image: url(http://www.thescripts.com/images/fp_listing_blue.jpg);
		background-repeat: repeat-x;
		height: 60px;
		padding: 6px;
		padding-bottom:10px;
		font-size:10pt;
	}
	.fp_listing_white{
		background: #ffffff;
		height: 60px;
		padding: 6px;
		font-size:1pt;
	}
	.fp_listing_white a.listingtitle{
		font-size: 13pt;
	}
	.fp_listing_blue a.listingtitle{
		font-size: 13pt;
	}
	#fp_preview{
		padding-top:4px;
		font-size: 10pt;
	}
	.fp_threadnfo{
		font-size: 8pt;
		color: #666666;
	}
	#fp_threadnfo_more span{
		font-size: 8pt;
		color: #666666;
		background: #FFFF99;
		padding: 2px;
		font-weight: bold;
	}
	.fp_threadnfo a{
		color: #666666;
	}
	.fp_threadnfo a:visited{
		color: #666666;
	}
	.fp_threadnfo img{
		padding: 0px;
		margin-left: 5px;
		margin-right: 3px;
	}
	.avtr{
		border:1px solid #E2E2E2;
		padding: 2px;
	}
	a.fp_replies{
		color: #105CB6;
		font-weight: bold;
	}
	a.fp_replies:visited{
		color: #105CB6;
		font-weight: bold;
	}
	a.fp_replies:hover{
		color: #000000;
		font-weight: bold;
	}

/* FRONT PAGE - end */

/* SEARCH - begin */
	.search_top{
		margin-top: 15px;
		padding-bottom: 5px;
		border-bottom: 1px solid #eeeeee;
	}
	#search_bottom{
		font-size: 13pt;
		margin: 30px;
	}
/* SEARCH - end */

/* SIGNUP FORM - begin */
#postit2{
	position: absolute;
	margin: 0px;
	width: 950px;
	padding:20px;
	background-color:#cccccc;
	visibility:hidden;
	z-index:1;
	cursor:hand;
	filter:alpha(opacity=35);
	-moz-opacity:.35;
	opacity:.35;
}
#postit1{
	position: absolute;
	margin: 0px;
	width: 450px;
	padding:20px;
	border:1px solid black;
	background-color:lightyellow;
	visibility:hidden;
	z-index:1;
	cursor:hand;
}
.popup_heading{
	color: #CC3300;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}
.popup_fieldset{
	border: 1px solid #FECE9E;
	padding: 10px;
}
.popup_fieldset legend{
	background-color:#FEE3AD;
	color: #CC3300;
	border: 1px solid #FECE9E;
	padding: 2px 6px;
	font-weight: bold;
	font-size: 14pt;
}
.popup_button
{
color: #FFFFFF;
	background: #CC3300;
	border: 2px #421100;
	font-weight: bold;
	font-size: 14pt;
} 
.close_pop{
	font-size: 7pt;
	color: #666666;
}
/* SIGNUP FORM - end */

/* login */
.loginparent{
	padding: 2em;
}