document.write("<script type=\"text/javascript\">");
document.write("e9 = new Object();");
document.write("e9.size = \"300x250\";");
document.write("e9.noAd = 1;");
document.write("</script>");
document.write("<script type=\"text/javascript\" src=\"http://tags.expo9.exponential.com/tags/TheScripts/ROS/tags.js\"></script>");

		