.text_bold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 700; color: #45515C}
.text {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C}
body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C}
.BOOK {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C}
.REVHISTORY {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C}
li {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #45515C}
.btext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C}
.btext_bold {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; font-weight: 700}
.smtext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #45515C}
.fronttext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C}
.header {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; color: #000000}
.header2 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; color: #C99145}
.header3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; color: #000000}
.title {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; color: #3A6EA9}

.code { background-color: #EEEEEE; border: outset 1pt; border-collapse: separate; border-color: #000000; }

/* h1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #3A6EA9} */
/* h3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #3A6EA9} */

h1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #45515C}
h3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #45515C}

.title2 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #3A6EA9; font-weight: bold}
.login {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold}
.column {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #000000}
.navigation {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #184E6C; font-weight: bold; text-decoration: none}
.news {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #2F557B; text-decoration: none}
.footer {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #45515C}
.link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: red; font-weight: bold; text-decoration: none}
.action_btn {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
.input {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #EEEEEE; }
input {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #EEEEEE; }
textarea {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #EEEEEE; }

.darkrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #B4B5CD; }
.row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #EEEEEE; }
.altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }
.altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCCC; }
.whiterow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #FFFFFF; }

.darkrow a { font-size: 11px; }
.row a { font-size: 11px; }
.altrow a { font-size: 11px; }
.altrow2 a { font-size: 11px; }
.whiterow a { font-size: 11px; }

/* For priority/non-priority items */
.priority_1_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #FEEEEE; }
.priority_2_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #FDEEEE; }
.priority_3_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #FCEEEE; }
.priority_4_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #FBEEEE; }
.priority_5_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #FAEEEE; }
.priority_6_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #F9EEEE; }
.priority_7_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #F8EEEE; }
.priority_8_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #F7EEEE; }
.priority_9_row { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #F6EEEE; }

.priority_1_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #EEDDDD; }
.priority_2_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }
.priority_3_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DEDDDD; }
.priority_4_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }
.priority_5_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }
.priority_6_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }
.priority_7_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }
.priority_8_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }
.priority_9_altrow { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #DDDDDD; }

.priority_1_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #EECCCC; }
.priority_2_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCCD; }
.priority_3_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCCC; }
.priority_4_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCCB; }
.priority_5_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCCA; }
.priority_6_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCC9; }
.priority_7_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCC8; }
.priority_8_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCC7; }
.priority_9_altrow2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; background-color: #CCCCC6; }

p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #45515C; }

p a { font-size: 11px; }

table.userdata
{
	border: outset 1pt;
	border-collapse: separate;
	border-color: #BBBBBB;
	width: 100%;
}

table.header a
{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #444499;
	font-weight: none;
	text-decoration: underline;
}

table.header a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #444499;
	font-weight: none;
	text-decoration: underline;
}

table.header a:active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #444499;
	font-weight: none;
	text-decoration: none;
}

a 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #444499;
	font-weight: none;
	text-decoration: underline;
}

a visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #444499;
	font-weight: none;
	text-decoration: underline;
}

a active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #444499;
	font-weight: none;
	text-decoration: none;
}

