/*
Based on MoreNeat theme from TikiWiki
*/

body {
	background-color: #E9ECEF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px;
}

ul {
	margin-top: 2px;
	margin-bottom: 6px;
}

h1, h2, h3, h4 { font-weight:bold; margin-bottom: 2px; margin-top: 4px; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }

p { margin-bottom: 0.5em; margin-top: 0.5em; }

a {
	color: #436976;
	padding: 0px;
	text-decoration: none;
}

a:hover {
	color: #000000;
	background-color: #E9ECEF;
	padding: 0px;
}

div#menucolumn {
	padding-left: 1px;
	padding-right: 0px;
	vertical-align: top;
	width: 210px;
	position: absolute;
	left: 0px;
	top: 0px;
}
div#contentcolumn {
	padding-right: 10px;
	vertical-align: top;
	width: auto;
	position: absolute;
	left: 210px;
	top: 0px;
}

div.box {  
	background-color: white;
	margin: 4px;
	border: 1px solid #8CACBB; 
	overflow: hidden; 
	width: 200px;
}

div.box-title {
	background-color: #C7D0D9;
	border-bottom: 1px solid #8CACBB;
	color: #555575;
	font-size: 10px;   
	overflow: hidden;
	text-align: center;
	padding: 0px;  
}

div.box-title table {
	width: 100%;
}

div.box-data {
	overflow: hidden;
	background-color: #ffffff;
	color: #000000;
	padding: 5px;
	font-size: 10px;
}

div.separator {
	background: white;
	color: black;   font-size: 10px;
	padding: 2px;
	border-top: 1px solid #dedede;
}

div.separator:first-child {
	border-top: none;
}

.linkmenu { font-size: 10px;  color : #436976; text-decoration: none;}
.linkmenu:active { font-size: 10px; color: #436976; text-decoration: none;}
.linkmenu:hover { font-size: 10px;  color : #436976; text-decoration: none;}

.separator { font-size: 10px;  color : #436976;  text-decoration: none; }
.separator:active { font-size: 10px;  color : #436976;  text-decoration: none; }
.separator:hover { font-size: 10px;  color : #436876;  text-decoration: none; }

div.content {  
	margin: 4px;
	border: none;
	overflow: hidden;
	color: #000000;
	padding: 5px;
	font-size: 12px;
	text-align: justify;
	width: 100%;
}

small { font-size: 80%; }
cite { font-style: italic; }
strong { font-style:oblique; }
code {
	font-family: Courier New, Andale Mono, monospace;
	font-size: 100%;
}
pre {
	text-align: left;
	font-family: Courier New, Andale Mono, monospace;
	font-size: 100%;
	overflow: visible;
	margin-left: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}


.caption { font-size: 80%; }

.table-header { background-color: #C7D0D9; border: 1px solid #436976; padding: 2px; }
div.content table { font-size: 10px; vertical-align: top; border: 1px solid #436976; padding: 1px; }
div.content td { border: 1px solid #436976; padding: 1px; }

div.noborder table { border: 0px; }
div.noborder td { border: 0px; }

div.seealso {
	border-top: 1px solid #8CACBB;
	margin-top: 8px;
}


