a {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	text-decoration: none;
	color: #0066cc;
	line-height: 12px;
}
a:link {
	font-family: "Tahoma","Verdana", "Arial";
	color: #0066cc;
	text-decoration: none;
	font-size: 11px;
	line-height: 12px;
}
a:hover {
	font-family: "Tahoma","Verdana", "Arial";
	color: #0066cc;
	text-decoration: underline;
	font-size: 11px;
	line-height: 12px;
}
a:visited {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	color: #0066cc;
	line-height: 12px;
}
.font {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	line-height: 18px;
}
.listfont {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	line-height: 18px;
}
.blackfont {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	line-height: 12px;
	color: #000000;
}
.Bigfont {
	font-size: 13px;
	line-height: 15px;
	font-family: "Tahoma","Verdana", "Arial";
}
table {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	line-height: 13px;
	COLOR: #666666; 
}
.smallfont {
	font-family: "Verdana", "sans-serif";
	font-size: 10px;
	line-height: 12px;
}
.tinyfont {
	font-family: "sans-serif";
	font-size: 9px;
	line-height: 10px;
}
INPUT.Input { 
	BORDER-BOTTOM: #666666 1px solid; 
	BORDER-LEFT: #666666 1px solid; 
	BORDER-RIGHT: #666666 1px solid; 
	BORDER-TOP: #666666 1px solid; 
	FONT-SIZE: 10px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal; 
	FONT-WEIGHT: normal; 
	LINE-HEIGHT: normal ; 
	font-family: "Verdana", "sans-serif"; 
	border: 1px #666666 solid
}
INPUT.button{
	BACKGROUND: #ffffff url(images/btn_bkg.gif);
	BORDER-BOTTOM: #333333 1px solid;
	BORDER-LEFT: #333333 1px solid;
	BORDER-RIGHT: #333333 1px solid;
	BORDER-TOP: #333333 1px solid;
	COLOR: #333333;
	FONT-SIZE: 10px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	font-family: "Verdana", "sans-serif";
	text-align: center;
	cursor: hand;
	height: 18px;
}
A.MENU:visited {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #666666; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 10px;
}
A.MENU:hover {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 11px;
	line-height: 10px;
}
A.MENU:link {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #666666; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 10px;
}
A:MENU {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #666666; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 10px;
}
.MENU {
}
.errHilite {
	BORDER-BOTTOM: black 1px solid;
	BORDER-LEFT: black 1px solid;
	BORDER-RIGHT: black 1px solid;
	BORDER-TOP: black 1px solid;
	FONT-SIZE: 10px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	font-family: "Verdana", "sans-serif";
	border: 1px #666666 solid;
	background-color: #FF9999;
}
.ListItem {
	FONT-SIZE: 10px;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	LINE-HEIGHT: normal;
	font-family: "Verdana", "sans-serif";
	border: thin solid #CCCCCC;
	background-color: #ffffff;
	color: #000000;
}
A.NavMENU:visited {
	font-family: "Verdana", "Arial", "sans-serif";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 10px;
	line-height: 10px;
}
A.NavMENU:hover {
	font-family: "Verdana", "Arial", "sans-serif";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 10px;
	line-height: 10px;
}
A.NavMENU:link {
	font-family: "Verdana", "Arial", "sans-serif";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 10px;
	line-height: 10px;
}
A:NavMENU {
	font-family: "Verdana", "Arial", "sans-serif";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 10px;
	line-height: 10px;
}
.NavMENU {
}
A.BlueMENU:visited {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #0066cc; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 12px;
}
A.BlueMENU:hover {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #6666cc; 
	TEXT-DECORATION: underline; 
	font-size: 11px;
	line-height: 12px;
}
A.BlueMENU:link {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #0066cc; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 12px;
}
A:BlueMENU {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #0066cc; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 12px;
}
.BlueMENU {
}
.sfont {
   color: #D40000;
}
.stfont {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	line-height: 12px;
	COLOR: #333333; 
}
.Pricefont {
	font-size: 12px;
	line-height: 12px;
	font-family: "Tahoma","Verdana", "Arial";
}
.BigPricefont {
	font-size: 16px;
	line-height: 16px;
	font-family: "Tahoma","Verdana", "Arial";
}
A.BuyMENU:visited {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 11px;
	line-height: 12px;
}
A.BuyMENU:hover {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 11px;
	line-height: 12px;
}
A.BuyMENU:link {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 11px;
	line-height: 12px;
}
A:BuyMENU {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #D40000; 
	TEXT-DECORATION: underline; 
	font-size: 11px;
	line-height: 12px;
}
.BuyMENU {
}
.underlinetd {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-width: 1;
}
.sfont {
   color: #D40000;
}
.stfont {
	font-family: "Tahoma","Verdana", "Arial";
	font-size: 11px;
	line-height: 12px;
	COLOR: #333333; 
}
.Pricefont {
	font-size: 12px;
	line-height: 12px;
	font-family: "Tahoma","Verdana", "Arial";
}
.BigPricefont {
	font-size: 14px;
	line-height: 14px;
	font-family: "Tahoma","Verdana", "Arial";
}
A.BigMENU:visited {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #666666; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 10px;
}
A.BigMENU:hover {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #666666; 
	TEXT-DECORATION: underline; 
	font-size: 11px;
	line-height: 10px;
}
A.BigMENU:link {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #666666; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 10px;
}
A:BigMENU {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #666666; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 10px;
}
.BigMENU {
}
.whitetd {
	background-color: #FFFFFF;
	border: 1px solid #666666;
}
A.BarMENU:visited {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 12px;
}
A.BarMENU:hover {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 12px;
}
A.BarMENU:link {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 12px;
}
A:BarMENU {
	font-family: "Tahoma","Verdana", "Arial";
	COLOR: #FFFFFF; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	line-height: 12px;
}
.BarMENU {
}
