/* Theses are the styles used along the site */

/* HTML Tags */

html {
}

body {
   background: white 
}

a {
   
}

a:link, a:visited {
   
}

a:hover {
   
}

p {
   
}

ul {
   
}

ul li {
   
}

h1 {
   
}

h2 {
   
}

img {

}


#header {
   color : yellow;
   font-family : terminal;
   font-size : 50pt
}

#footer {

}

/* My styles */

#miid {
}


#mainpane {

}

#leftpane {

}

#rightpane {

}
