body {background:white;color:black}

h1 {color:#c33;background:none;font-weight:bold;text-align:center}
h2 {color: #00008b;background:none;font-weight:bold}
h3 {color:#006400;background:none;margin-left:4%;margin-right:4%;font-weight:bold}
h4 {margin-left:6%;margin-right:6%;font-weight:bold}
h5 {margin-left:6%;margin-right:6%;font-weight:bold}

ul, ol, dl, p {margin-left:6%;margin-right:6%}
ul ul, table ol, table ul, dl ol, dl ul {margin-left:1.2em;margin-right:1%;padding-left:0}
pre {margin-left:10%;white-space:pre}
table caption {font-size:larger;font-weight:bolder}
table p, table dl, ol p, ul p, dl p, blockquote p, .note p, .note ul, .note ol, .note dl, li pre, dd pre {margin-left:0;margin-right:0}
p.top {margin-left:1%;margin-right:1%}
blockquote {margin-left:8%;margin-right:8%}
blockquote pre {margin-left:1%;margin-right:1%}
dt a {font-weight:bold;margin-top:.8em}
dfn {font-style:normal;font-weight:bolder}
var sub { font-style:normal }
colgroup.entity { text-align:center }
td li.transitional, .elements li.transitional {font-weight:lighter;color:#696969;background:none}
td li.frameset, .elements li.frameset {font-weight:lighter;color:#808080;background:none}

a:link {color:#00f;background:none}
a:visited {color:#800080;background:none}
a:active {color:green;background:#FFD700}

.html {color:#000080;background:none}
.css {color:#800000;background:none}
.javascript {color:#008000;background:none}
.example { margin-left:10% }
.note {font-size:85%;margin-left:10%}
.SMA {color:fuchsia;background:none;font-family:Kids, "Comic Sans MS", Jester}
.oops {font-family:Jester, "Comic Sans MS"}
.author {font-style:italic}
.copyright {font-size:smaller;text-align:right;clear:right}
.toolbar {text-align:center}
.toolbar IMG {float:right}
.error {color:#DC143C;background:none;text-decoration:none}
.warning {color:#FF4500;background:none;text-decoration:none}
.error strong {color:#DC143C;background:#FFD700;text-decoration:none}
.warning strong {color:#FF4500;background:#FFD700;text-decoration:none}
.warning a:link, .warning a:visited, .warning a:active {color:#FF4500;background:none;text-decoration:underline}
.error a:link, .error a:visited, .error a:active {color:#DC143C;background:none;text-decoration:underline}
.error strong a:link, .error strong a:visited, .error strong a:active {color:#DC143C;background:#FFD700}
.warning strong a:link, .warning strong a:visited, .warning strong a:active {color:#FF4500;background:#FFD700}
.default { text-decoration:underline; font-style:normal }
.required { font-weight:bold }
.footer, .checkedDocument {margin-top:2em;padding-top:1em;border-top:solid thin black;clear:both}
.liamsig, .arnoudsig, .johnliamsig, .johnsig, .darinsig {font-style:italic;font-size:smaller}

.header {border-bottom:solid thin black}
.navbar, .copyright {text-align:center}
.copyright img {vertical-align:middle}
strong.legal {font-weight:normal;text-transform:uppercase}
.leaderboard {text-align:center}
.skyscraper {margin:1em;padding:1em;border:solid blue 1px}
.skyscraper h3 {margin:0}
.linkads h2 {margin-left:4%;margin-right:4%;font-size:110%}
div.linkads, div.adbrite {border:thin solid #4D9A67;margin-bottom:1em}
.otherLanguages {font-size:85%;margin-left:3%;margin-right:3%}
.adbrite h2 {font-size:110%}
.adText {text-decoration:none;color:black;background:none}
@media print {input#toggler, .toolbar, .leaderboard, .skyscraper, .google-ad { display:none }}
/* Necessary to convert Web Authoring FAQ to HTML 4.01 Strict */

.mainlogo img {float:left}
.faqtoclink {text-align:right;font-size:85%}
.tagline {text-align:right;font-style:italic}
.adBriteHeader {width:100%;height:30px; overflow:hidden; background:#F0E68C;color:black;margin:0}
.adBriteHeader A.yourAdHere {font:xx-small Arial; text-decoration:underline; float:right;color:black;background:#F0E68C;width:150px}
A.adHeadline {float:left;font:bold x-small Arial; text-decoration:underline; color:blue;background:#F0E68C}
A.adText {margin-left:10px;float:left;font:xx-small Arial; color:black;background:#F0E68C;text-decoration:none}
.topAd {background:#F0E68C;color:black;text-align:center;margin-left:1%;margin-right:1%}