*	
{
font-family: helvetica, arial;
font-size: 10pt;
line-height: 1.2;
background: white;
color: black;
}

body
{
margin: 1em;
}

a,
a:visited
{
text-decoration: underline;
}

a:hover
{
text-decoration: none;
}

b.h1
{
font-size: 19pt;
line-height: 1.1;
font-weight: bold;
}

div.f16
{
font-size: 16pt;
line-height: 1.1;
}

div.h1,
h1
{
font-size: 16pt;
line-height: 1.2;
font-weight: bold;
}

div.h2,
h2
{
font-size: 14pt;
line-height: 1.2;
font-weight: bold;
}

h3
{
font-size: 12pt;
line-height: 1.2;
font-weight: bold;
}

h4
{
font-size: 10pt;
line-height: 1.2;
font-weight: bold;
}

.center
{
text-align: center;
}

table.center,
td.center,
div.center
{
text-align: center;
margin-left: auto;
margin-right: auto;
border-color:#000000;
border-width:2px;
border-style:solid;
margin:2px;
}

.right
{
text-align: right;
}

a.loginbuttonhelp,
a:hover.loginbuttonhelp,
.login,
.loginleft,
.loginbutton
{
font-size: 9pt;
line-height: 1.1;
margin-left: auto;
margin-right: 0;
text-align: right;
border: none;
}

.loginleft
{
margin-left: 0;
margin-right: auto;
text-align: left;
border-color: #000000;
border-style: solid;
border-width: 2px;
background-color: #A0A0A0;
}

a.loginbuttonhelp,
a:hover.loginbuttonhelp,
.loginbutton
{
border-color: #000000;
border-style: solid;
border-width: 2px;
margin-right: 2px;
background-color: #FF0000;
text-decoration: none;
}

a.login_help_text,
a:hover.login_help_text,
div.login_help_text
{
margin: 1em;
background-color: #ababab;
text-decoration: none;
}

div.right,
p.right
{
margin-left: auto;
margin-right: 0;
text-align: right;
border: none;
}

.left
{
text-align: left;
}

.hidden,
a.hidden,
a:hover.hidden,
a:visited.hidden
{
background-color: #FFFFFF;
color: #FFFFFF;
text-decoration: none;
font-size: 2pt;
line-height: 1;
margin-bottom: 0;
}

.note,
.counter
{
font-size: 6pt;
line-height: 1.3;
vertical-align: bottom;
margin-bottom: 0;
}

a.textlink,
a:hover.textlink,
a:visited.textlink
{
  font-size: 10pt;
  line-height: 1.2;
  text-decoration: underline;
}

a:hover.textlink
{
  color: red;
}

td.top_align,
td.top_align_left,
td.top_align_right,
a.top_align_left,
a.top_align_right
{
vertical-align: top;
}

td.top_align_left
{
border-left-width:1px;
border-left-style:solid;
border-left-color:#000000;
margin-left:2px;
}

td.top_align_right
{
text-align:right;
}

a.top_align_right
{
text-align:right;
}

a.top_align_left
{
text-align:left;
}


td.red,
td.green,
td.blue,
td.white,
td.grey
{
font-size: 6pt;
line-height: 8pt;
vertical-align: middle;
text-align: center;
margin-bottom: 0;
}

td.red
{
background-color: #FF0000;
}

td.green
{
background-color: #00FF00;
}

td.blue
{
background-color: #0000FF;
}

td.grey
{
background-color: #A0A0A0;
}

td.white
{
background-color: #FFFFFF;
}

td.just_red
{
background-color: #FF0000;
}

td.just_green
{
background-color: #00FF00;
}

td.just_blue
{
background-color: #0000FF;
}

td.just_grey
{
background-color: #A0A0A0;
}

td.just_white
{
background-color: #FFFFFF;
}

a.ad,
td.ad,
div.ad,
p.ad
{
font-size: 6pt;
line-height: 8pt;
vertical-align: middle;
text-align: center;
margin-bottom: 0;
background-color: #EBFFED;
width: 130px;
}

.counter
{
margin-top: 0.5em;
}


.comment
{
color: #000000;
background-color: #999999;
font-size: 10pt;
line-height: 0.9;
vertical-align: bottom;
margin-bottom: 0;
}


A.address	
{
font-size: 10pt;
text-decoration: underline;
color: #000000;
}

td.links,
td.link,
td.index,
a.index,
td.indexactive,
a.indexactive
{
width: 94px;
}

td.content
{
/* width: 582px; */
margin: 1em;
}

table.fullpage
{
/* width: 676px; */
width: 100%;
}

td.links,
td.link,
td.index,
a.index,
td.indexactive,
a.indexactive
{
vertical-align: top;
font-size: 9pt;
height: 14pt;
}

td.index,
a.index,
td.indexactive,
a.indexactive
{
background-color: #A0A0A0;
color: #0000FF;
vertical-align: middle;
}

td.indexactive,
A.indexactive
{
background-color: #FFFFFF;
color: #000000;
}

td.border,
tr.border,
table.border,
a.border,
p.border,
h1.border
{
background-color: #FFFFFF;
color: #111111;
vertical-align: bottom;
font-size: 8pt;
line-height: 1.0;
border-color:#000000;
border-width:2px;
border-style:solid;
margin:2px;
}

td.border_left
{
background-color: #FFFFFF;
color: #111111;
vertical-align: bottom;
font-size: 8pt;
line-height: 1.0;
margin:2px;
border-left-width:1px;
border-left-style:solid;
border-left-color:#000000;
}

td.border_right
{
background-color: #FFFFFF;
color: #111111;
vertical-align: bottom;
font-size: 8pt;
line-height: 1.0;
margin:2px;
border-right-width:1px;
border-right-style:solid;
border-right-color:#000000;
}

tr.border_bottom
{
background-color: #FFFFFF;
color: #111111;
vertical-align: bottom;
font-size: 8pt;
line-height: 1.0;
margin:2px;
border-bottom-width:1px;
border-bottom-style:solid;
border-bottom-color:#000000;
}

td.navheader,
tr.navheader,
table.navheader,
a.navheader,
p.navheader,
h1.navheader
{
background-color: #FFFFFF;
color: #111111;
text-align: center;
vertical-align: bottom;
font-size: 8pt;
line-height: 1.0;
}

td.pagenavheader,
tr.pagenavheader,
table.pagenavheader,
a.pagenavheader,
p.pagenavheader,
h1.pagenavheader
{
background-color: #CCCCCC;
color: #111111;
text-align: center;
vertical-align: top;
font-size: 8pt;
line-height: 1.0;
}

table.pagenavheader
{
width: 100%;
border-width: thin;
border-color: black;
}

tr.pagenavheader,
td.pagenavheader
{
width: 20%;
border-width: 1px;
border-color: #000000;
border-style: solid;
margin: 3em;
}

td.rbacs_input,
tr.rbacs_input,
table.rbacs_input,
a.rbacs_input,
p.rbacs_input,
h1.rbacs_input
{
background-color: #FFFFFF;
color: #000000;
text-align: left;
vertical-align: top;
font-size: 10pt;
line-height: 1.0;
}

table.rbacs_input
{
border: 1px;
}

td.rbacs,
tr.rbacs,
table.rbacs,
a.rbacs,
p.rbacs,
h1.rbacs
{
background-color: #FFFFFF;
color: #000000;
text-align: left;
vertical-align: top;
font-size: 10pt;
line-height: 1.0;
}

table.rbacs
{
border: 1px;
}

td.rbacsnav,
tr.rbacsnav,
table.rbacsnav,
a.rbacsnav,
p.rbacsnav,
h1.rbacsnav
{
background-color: #FFFFFF;
color: #000000;
text-align: left;
vertical-align: top;
font-size: 8pt;
line-height: 1.0;
}

table.rbacsnav
{
border: 1px;
}

td.rbacsnav_back,
tr.rbacsnav_back,
table.rbacsnav_back,
a.rbacsnav_back,
p.rbacsnav_back,
h1.rbacsnav_back
{
background-color: #FFFFFF;
color: #000000;
text-align: left;
vertical-align: top;
font-size: 8pt;
line-height: 1.0;
}

table.rbacsnav_back
{
border: 1px;
}

tr.rbacsnav_back
{
border: 1px;
vertical-align: bottom;
}

td.rbacsnav_top,
tr.rbacsnav_top,
table.rbacsnav_top,
a.rbacsnav_top,
p.rbacsnav_top,
h1.rbacsnav_top
{
background-color: #FFFFFF;
color: #000000;
text-align: left;
vertical-align: top;
font-size: 8pt;
line-height: 1.0;
}

table.rbacsnav_top
{
border: 1px;
}

tr.rbacsnav_top
{
border: 1px;
vertical-align: bottom;
}

td.comment
{
  text-align: center;
}

div.comment,
a.comment
{
background-color: #999999;
color: #000000;
/* width: 50%; */
font-size: 10pt;
line-height: 1.2;
vertical-align: middle;
text-align: left;
margin-bottom: 0;
}

div.remark,
a.remark
{
background-color: #999999;
color: #000000;
width: 50%;
font-size: 10pt;
line-height: 1.2;
vertical-align: middle;
text-align: center;
margin-bottom: 0;
}

td.navigation,
tr.navigation,
table.navigation,
div.navigation,
a.navigation,
a:hover.navigation,
p.navigation,
p.info,
div.info
{
vertical-align: text-bottom;
text-align: center;
font-size: 6pt;
text-decoration: none;
}

td.yearoverview,
tr.yearoverview,
div.yearoverview
{
vertical-align: text-bottom;
text-align: center;
font-size: 8pt;
margin: 0;
}

a.yearoverview,
a:visited.yearoverview
{
text-decoration: underline;
}

a:hover.yearoverview
{
text-decoration: none;
background: red;
}

td.arrownav,
a.arrownav,
tr.arrownav,
table.arrownav
{
vertical-align: text-bottom;
text-align: center;
margin: 0;
border-width: 0;
border-style: none;
border-color: #FFFFFF;
}

a.arrownav
{
text-decoration: none;
}

a:hover.imgthumb,
a.imgthumb,
td.imgthumb,
tr.imgthumb,
table.imgthumb,
p.imgthumb,
div.imgthumb,
a:hover.imgsmall,
a.imgsmall,
td.imgsmall,
tr.imgsmall,
table.imgsmall,
p.imgsmall,
div.imgsmall,
a:hover.imglarge,
a.imglarge,
td.imglarge,
tr.imglarge,
table.imglarge,
p.imglarge,
div.imglarge
{
text-align: center;
vertical-align: text-top;
margin: 0;
border-width: 0;
border-style: none;
border-color: #FFFFFF;
}

a:hover.imgthumb,
a.imgthumb,
a:hover.imgsmall,
a.imgsmall
{
text-decoration: none;
}


a.project,
a:hover.project,
td.project
{
background-color: #999999;
color: #000000;
font-size: 10pt;
line-height: 1.2;
vertical-align: middle;
text-align: center;
margin-bottom: 0;
}

a:hover.project
{
text-decoration: none;
}
