<form action="" method="post">
<div class="fitem">
    <div class="fitemtitle">
        <label for="id_recaptcha_element">reCAPTCHA 
            <span class="helplink">
                <a title="Help with reCAPTCHA (new window)" href="http://localhost/moodle/help.php?module=moodle&amp;file=recaptcha.html&amp;forcelang=" onclick="this.target='popup'; return openpopup('/help.php?module=moodle&amp;file=recaptcha.html&amp;forcelang=', 'popup', 'menubar=0,location=0,scrollbars,resizable,width=500,height=400', 0);"><img class="iconhelp" alt="Help with reCAPTCHA (new window)" src="http://localhost/moodle/pix/help.gif" />
                </a>
            </span>&nbsp;
        </label>
    </div>
    <div class="felement frecaptcha">
        <script type="text/javascript">
                var RecaptchaOptions = {
                theme : 'custom',
                tabindex : 2,
                custom_theme_widget : 'recaptcha_widget'
                };
        </script>
        <div id="recaptcha_widget" style="display:none">
            <div id="recaptcha_image"></div>
            <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect. Please try again.</div>
            <span class="recaptcha_only_if_image">
                <label for="recaptcha_response_field">Enter the words above</label>
            </span>
            <span class="recaptcha_only_if_audio"><label for="recaptcha_response_field">Enter the numbers you hear</label></span>
            <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
            <input type="hidden" name="recaptcha_element" value="dummyvalue" /> <!-- Dummy value to fool formslib -->
            <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
            <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
            <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>
            </div><script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6LeM2AIAAAAAAOOwT5WfkpA62ZqsMMhdmzply6QV"></script> 
            <noscript>
                  <div id="recaptcha_widget_noscript">
                     <div id="recaptcha_image_noscript"><img src="http://api.recaptcha.net/image?c=02q6CJciTneeUY7pXqlgXrNvXlUaoh6Ld9CNiJOhwIjlR6Mqy4fcTLUhJQxepNHawKZFW2LFVuL0fda6zoMJusH-x2yJ0HfL2-7niLR_z6rqJHDUHIfc1_-waC_HAzZokOTlMI6QsaxM90aTkQFEgUoXKbiWCPjsem7O797R5u09zkoCvwK0YEXadv4yawUdECEuHQLwIC" alt="reCAPTCHA"/></div><span class="recaptcha_only_if_image">Enter the words above</span><input type="text" id="recaptcha_response_field_noscript" name="recaptcha_response_field" /><input type="hidden" id="recaptcha_challenge_field_noscript" name="recaptcha_challenge_field" value="02q6CJciTneeUY7pXqlgXrNvXlUaoh6Ld9CNiJOhwIjlR6Mqy4fcTLUhJQxepNHawKZFW2LFVuL0fda6zoMJusH-x2yJ0HfL2-7niLR_z6rqJHDUHIfc1_-waC_HAzZokOTlMI6QsaxM90aTkQFEgUoXKbiWCPjsem7O797R5u09zkoCvwK0YEXadv4yawUdECEuHQLwIC" /><div><a href="signup.php">Get another CAPTCHA</a></div>
</div>
</noscript></div></div>
</div></fieldset>
<fieldset class="hidden"><div>
<div class="fitem"><div class="fitemtitle"><div class="fgrouplabel"><label> </label></div></div><fieldset class="felement fgroup"><input name="submitbutton" value="Crear cuenta" type="submit" id="id_submitbutton" /> <input name="cancel" value="Cancelar" type="submit" onclick="skipClientValidation = true; return true;" id="id_cancel" /></fieldset></div>
<div class="fdescription required">There are required fields in this form marked<img alt="Required field" src="http://localhost/moodle/pix/req.gif" />.</div>
</div></fieldset>
</form>

