BODY {color:#000000; background:#FFFFCC;
margin-left:.5in; margin-right:.5in; font-size:100%;}
Table {font-size:12pt;}
h1 {text-align:center;}
h2 {text-align:center;}
P.title {text-align:center;}
TABLE.info {padding-left:.75in;}
UL {list-style-type:disc;}
OL {list-style-type:decimal;}

.roll { font-family:"TimesNewRoman", serif; font-size:12pt;
font-style:normal; font-weight:normal; letter-spacing:normal;
text-decoration:underline; text-transform:none; } 

.lalpha {list-style-type:lower-alpha;}

.header {color:#3300FF; background:#FFFFCC;}

.sectionheader {color:#993300; background:#FFFFCC; font-weight:bold;}
.subheader {color:#993300; background:#FFFFCC; font-style:italic;}
.h1size {font-size:150%;}

.pformat {text-align:justify;}

.bigquote {margin-left:1.5in; margin-right: 1.5in;}

A.roll:hover { font-family:"TimesNewRoman", serif; font-size:12pt;
font-style:normal;
font-weight:normal; letter-spacing:normal; text-decoration:underline;
text-transform:none; color:#00DD00; background:#FFFFCC;}

.guide {background:#CCCCCC; color:#000000}

span.left {
  float: left;
  text-align: left;
  width: 50%;
  }

span.right {
  float: right;
  text-align: right;
  width: 50%;
  }

div.spacer {
  clear: both;
  }
