BODY {
	background : aquamarine;
	text-align : center;
font-family : Arial, Helvetica, helv, sans-serif;
}

H1,H5 { 
	color : blueviolet;
}

H3 { 
	color : lightcyan;
}

H4 { 
	color : orange;
}

.parr {
	color : magenta;	
	font-style : italic;
}	

P.parrafo {
	color : blue;
	font-family : courier;
	font-weight : bold;
}

#miid {
	color : yellow;
	font-family : terminal;
	font-size : 50pt;
}

