body {  
   background : white;
   text-align : right;
   font-family : Arial, Helvetica, helv, sans-serif;
   #color : green;
}

talltales {
   background-image: url(background.gif);
   background-repeat: repeat;
}

tt {
   display: block;
   width: 700px;
   padding: 10px;
   margin: 10px;
   border: 5px groove #353A54;
   background-color: #353A54;
}

.b {
   display: block;
   color: red;
   font-family: Verdana, Arial;
   font-size: 13pt;
   text-align: left;
}

.a, .b, .c {
   display: block;
   color: green;
   font-family: Verdana, Arial;
   font-size: 12pt;
   text-indent: 14px;
   text-align: left;
}
