.mail_views{ 
  padding-bottom: 3px;
  border-bottom: solid 1px #000000;
}

.search_result{ 
  padding-bottom: 5px;
}

.rightSideBox{
    background: #ffffff;
    border: solid 1px brown;
    padding: 3px;
}

.centerBlock{
    background: #ffffff;
    border: solid 1px brown;
    padding: 3px;
}

.arc_quote{
    border-left: solid 1px blue;
    padding-left: 5px;
}
.arc_subquote_1{
    border-left: solid 1px purple;
    padding-left: 5px;
}
.arc_subquote_2{
    border-left: solid 1px violet;
    padding-left: 5px;
}
.arc_subquote_3{
    border-left: solid 1px red;
    padding-left: 5px;
}
.arc_subquote_4{
    border-left: solid 1px black;
    padding-left: 5px;
}

pre {
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
   
}

pre.code {
	overflow: auto;
	border: thin solid #ddd;
	background-color: #fafafa;
	padding: 0.5em;
	font-family: monospace;
    font-size: 120%;
}
  
  
/* standard elements */
body
    {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
	}	
td
    {
    font-size: 70%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    }
input
    {
	font-size: 12px;
    }
select
    {
	font-size: 12px;
    }
p
    {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }
blockquote
    {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }
dl
    {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }
dt
    {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }

ul
    {
list-style-image: url(/ASPN/img/dot_A68C53_8x8_.gif);
margin-left:15px; 
margin-right:0px; 
    }
li 
{
text-indent: -2px;
}
ol
    {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }

tt
    {
    font-size: 120%;
    }
code
    {
    font-size: 120%;
    }
kbd
    {
    font-size: 120%;
    }
   
/* default links */
a:link 
	{ 
	color:		#664E1E;
	text-decoration:underline;
	font-weight: normal;
	}
a:visited 
	{ 
	color:		#664E1E;
	text-decoration:underline;
	font-weight: normal;
	}
a:hover
	{
	color:		#A68C53;
	text-decoration:underline;
	font-weight: normal;
	}
	
/* general styles */	
.heading 
	{ 
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-size: 	130%;
	font-weight: 	bold;
	color: 		#000000;
	}
.headingwhite
	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	color: #FFFFFF;
	}
.subheading 
	{ 
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-size: 	120%;
	font-weight: 	bold;
	color: 		#52491F;
	}
.subheadingblack 
	{ 
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-size: 	120%;
	font-weight: 	bold;
	color: 		#000000; 
	}
.subheadingwhite 
	{ 
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-size: 		120%;
	font-weight: 	bold;
	color: 			#FFFFFF; 
	}
.subheadingsmall
	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	}
	
.error
    {
    color: #B82619;
    }    
.err
    {
    color: #B82619;
    }    
    
/* deco */
.lineColour
    {
    background: #EBEBE5;
    }
    
/* unordered list without bullets */
ul.sans 
	{ 
	list-style-type: none;
	}
        
/* user options */    
td.userOptions
    {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    }

/* new primary navigation */
.primaryNav
    {
    background: #B82619;
	}
.primaryNavSel
    {
    background: #E6DFCF;
	}
/* also used for secondary navigation */
	.primaryNavSel a:link
		{
		color: #000000;
		font-weight: bold;
		text-decoration: none;
		}
	.primaryNavSel a:active
		{
		color: #000000;
		font-weight: bold;
		text-decoration: none;
		}
	.primaryNavSel a:hover
		{
		color: #000000;
		font-weight: bold;
		text-decoration: none;
		}
	.primaryNavSel a:visited
		{
		color: #000000;
		font-weight: bold;
		text-decoration: none;
		}
.primaryNavLine
    {
    background: #000000;
	}
/* new left navigation */
.leftNav
    {
    background: #F3F2EB;
	}
.leftNavLine
    {
    background: #E7DFCE;
	}
	td.leftNav a:link 
		{
		color:#A68C53; 
		text-decoration:none; 
		font-weight:bold;
		}
	td.leftNav a:visited 
		{
		color:#A68C53; 
		text-decoration:none; 
		font-weight:bold; 
		}
	td.leftNav a:hover 
		{
		color:#A68C53; 
		text-decoration:underline; 
		font-weight:bold;
		}
/* for selected items in reference toc */
	td.leftNav a.tocItemSel:link 
		{
		color:#000000; 
		text-decoration:none; 
		font-weight:bold;
		}
	td.leftNav a.tocItemSel:visited 
		{
		color:#000000; 
		text-decoration:none; 
		font-weight:bold; 
		}
	td.leftNav a.tocItemSel:hover 
		{
		color:#000000; 
		text-decoration:underline; 
		font-weight:bold;
		}	
	
/* new right boxes */
.boxOuter
	{
	background: #EBEBE5;
	}
.boxInner
	{
	background: #FFFFFF;
	}
td.boxInner a:link 
	{ 
	color:		#664E1E;
	text-decoration:underline;
	font-weight: normal;
	}
td.boxInner a:visited 
	{ 
	color:		#664E1E;
	text-decoration:underline;
	font-weight: normal;
	}
td.boxInner a:hover
	{
	color:		#A68C53;
	text-decoration:none;
	font-weight: normal;
	}
	td.boxInner a.arc:link 
		{ 
		color:		#000000;
		font-weight: normal;
		text-decoration: none;
		}
	td.boxInner a.arc:visited 
		{ 
		color:		#000000;
		font-weight: normal;
		text-decoration: none;
		}
	td.boxInner a.arc:hover
		{
		color:		#664E1E;
		font-weight: normal;
		text-decoration: underline;
		}
	td a.arc:link 
		{ 
		color:		#000000;
		font-weight: normal;
		text-decoration: none;
		}
	td a.arc:visited 
		{ 
		color:		#000000;
		font-weight: normal;
		text-decoration: none;
		}
	td a.arc:hover
		{
		color:		#664E1E;
		font-weight: normal;
		text-decoration: underline;
		}

/* used by mailarchive */
a.arc:link 
	{ 
	color:		#000000;
	font-weight: normal;
	text-decoration: none;
	}
a.arc:visited 
	{ 
	color:		#000000;
	font-weight: normal;
	text-decoration: none;
	}
a.arc:hover
	{
	color:		#664E1E;
	font-weight: normal;
	text-decoration: underline;
	}
	
/* portal sticker top and outline */
.portalTop
    {
    background: #E6DFCF;
	}

/* primary navigation selected */
/* to be revised */
td.navSel
    {
    background: #EAE2BB;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    }
    td.navSel a:link
        {
        color: #000000;
        text-decoration: none;
		font-weight: bold;
        }
    td.navSel a:hover
        {
        color: #B82619;
        text-decoration: none;
		font-weight: bold;
        }
    td.navSel a:active
        {
        color: #B82619;
        text-decoration: none;
		font-weight: bold;
        }
    td.navSel a:visited
        {
        color: #000000;
        text-decoration: none;
		font-weight: bold;
        }
    
/* primary navigation not selected */
/* to be revised */
td.navunSel
    {
    background: #B82619;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    }
    td.navunSel a:link
        {
        color: #FFFFFF;
        text-decoration: none;
        }
    td.navunSel a:hover
        {
        color: #FFFFFF;
        text-decoration: none;
        }
    td.navunSel a:active
        {
        color: #FFFFFF;
        text-decoration: none;
        }
    td.navunSel a:visited
        {
        color: #FFFFFF;
        text-decoration: none;
        }
        
/* secondary nav */
/* to be revised */
td.navSecondary   
    {
    background: #EAE2BB;
    color: #000000;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    } 
    td.navSecondary a:link
        {
        color: #000000;
        text-decoration: none;
        }
    td.navSecondary a:hover
        {
        color: #000000;
        text-decoration: none;
        }
    td.navSecondary a:active
        {
        color: #000000;
        text-decoration: none;
        }
    td.navSecondary a:visited
        {
        color: #000000;
        text-decoration: none;
        }           
		   
/* used in the following: 
Downloads/Komodo/EvaluationLicense (eval license form)  
DTMLLogin/doclogin_form  
DTMLLogin/doclogin_form_komodo  
Contact/index_html (index)  
*/
td.formRequired
    {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    }
    
	
/* search */
/* still in use */
td.searchResults
    {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    }    	
td.previousNext
    {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }


/* download links and boxes */
/* used extensively */
td.downloads
    {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    }
	
/* beta downloads links and boxes */
/* as it seems, only used here: Downloads/ActivePython/current_version */
td.downloadsBeta
    {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    }


/* apparently not in use
td.quote
    {
    color: #666666;
    }
*/

/* stuff for cookbook coloring */
.syntaxstring { color:  #23238e; }
.syntaxtext { color:  #000000; }
.syntaxcomment { color:  #696969; }
.syntaxname { color:  #000000; }
.syntaxerror { color:  #e63c3c; }
.syntaxkeyword { color:  #871f78; }
.syntaxactiveblue { color: #0032FF; }
.syntaxdarkblue { color: #00008B; }
.syntaxdarkgreen { color: #006400; }
.syntaxdarkcyan { color: #008B8B; }
.syntaxfirebrick { color: #B22222; }
.syntaxactiveorange { color: #C86400; }
.
/* end stuff */


/* used on popup */
/* apparently popups are not used any longer
a.windowClose:link
	{ 
	font-weight: bold;
	color: 		#FFFFFF;
	}
a.windowClose:visited 
	{ 
	font-weight: bold;
	color: 		#FFFFFF;
	}
a.windowClose:hover 
	{ 
	font-weight: bold;
	color: 		#FFFFFF;
	}
a.windowClose:active 
	{ 
	font-weight: bold;
	color: 		#FFFFFF;
	}
*/


/* used to highlight search terms */
.highlight1 { background: #EAE2BB; }
.highlight2 { background: #BBBBBB; }
.highlight3 { background: #CFBF7F; }
.highlight4 { background: #DDDDDD; }
.highlight5 { background: #CCC8B8; }
.mail_quotation { color: #80764F; }


/* **************************************** */
/* **************************************** */

/* additional styles for documentation */

h1
    { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 130%;
    font-weight: bold;
    color: #000000;
    }
h2 
    {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    border-bottom: solid 1px #000000;
    }
h3
    { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: bold;
    color: #52491F;
    }        
h4
    { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #000000; 
    } 	

/* documentation link formatting */
a.doc:link 
	{ 
	color:		#664E1E;
	text-decoration:underline;
	}
a.doc:visited 
	{ 
	color:		#664E1E;
	text-decoration:underline;
	}
a.doc: hover
	{
	color:		#A68C53;
	text-decoration:underline;
	}

/* for return to top link in documentation */
a.topText
	{
	font-weight: bold;
	text-decoration: none;
	}
a.topText:hover
	{
	color: #B82619;
	}
a.topText:visited
	{
	color: #B82619;
	}
a.topText:active
	{
	color: #B82619;
	}
	
.docsubheading
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-color: #F3F2EB;
	}
.docsubheadinggrey
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-color: #cccccc;
    }

/* documentation styles */	
/* previous and next sections at top of each doc page */
td.previousNextRef
    {
    background: #EEEEEE;
    }
/* used on main tree page in some versions of the Products directory -- i.e., on the start page for docs */
td.treeRefMain
    {
    background: #FFFFFF;
    font-size: 80%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }
    td.treeRefMain a:link
        {
        color: #664E1E;
        text-decoration: none;
        }	
    td.treeRefMain a:visited
        {
        color: #664E1E;
        text-decoration: none;
        }	
    td.treeRefMain a:hover
        {
        color: #A68C53;
        text-decoration: underline;
        }	
    td.treeRefMain a:active
        {
        color: #A68C53;
        text-decoration: underline;
        }	
/* used on side navigation tree */
td.treeRef
    {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    }
    td.treeRef a:link
        {
        color: #000000;
        text-decoration: none;
        }	
    td.treeRef a:visited
        {
        color: #666666;
        text-decoration: none;
        }	
    td.treeRef a:hover
        {
        color: #B82619;
        text-decoration: underline;
        }	
    td.treeRef a:active
        {
        color: #B82619;
        text-decoration: underline;
        }	

/* documentation table data */
/* hrm. */
td.doc
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
	}

/* apparently only in use here: Downloads/Komodo/Beta-Install-Notes (Beta-Install-Notes) 
although may appear in documentation */

.startupBox
	{
	border-top: 1px solid #b82619;
	border-right: 1px solid #b82619;
	border-bottom: 1px solid #b82619;
	border-left: 1px solid #b82619;
	}

/* alternate rows */
/* used here    
  News/index_html (News feeds)  
  Modules/profile_html (Profile)  
*/
.alternate 
	{
	background-color: #F5F5F4;
	}

	
/* disabled anything */
/* apparently not in use any longer
.disabled
        {
        color: #A0A0A0
        }
*/


/* chat archive */
/* apparently not used... cannot find any instances
.person
        {
        color: #000099;
        }
.chatter
        {
        color: #000000;
        font-weight: bold;
        }
*/

a.tocItemSel:link
        {
        color: #000000;
        }	
a.tocItemSel:visited
        {
        color: #000000;
        }	
a.tocItemSel:hover
        {
        color: #000000;
        }	
a.tocItemSel:active
        {
        color: #000000;
        }	

.PPHelp A{ COLOR: #FFFFFF; }
.PPHelp A:visited{ COLOR: #FFFFFF; }

.PPModuleBrd { BACKGROUND-COLOR: #b82619; }
.PPModuleTtlTbl { BACKGROUND-COLOR: #b82619; }
.PPDynamicTbl {BACKGROUND-COLOR: #F8F5E7;}

.PPModuleTtlTxt {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    }

.tourletImageBox
{
padding: 10px; background: #EEEEEE; border: solid 1px #BDBDBD;
}
.tourletTextBox
{
float: left; display: inline; position: relative; left: 300px; bottom: 60px; margin: 0px;
width: 300px; padding: 5px; border: solid 1px #BDBDBD; background: #ffffff;
}
.tourletArrow
{
position: absolute; left: 450px;
}


/* Start of Maia's css for upsells */

table.upsellgroup 
    {
    }

table.upsellinside
    {
    width: 200px;
    height: 20px;
    }
table.upsellgroup tr td 
    {
    vertical-align: top;
    text-align: middle;
    width: 200px;
    height: 200px;

    }

table.upsell
    {
    border-collapse:collapse;
    border:1px solid #EBEBE5;
    width: 200px;
    height: 200px;

    }
table.upsell tr td
    {
    padding:8px;
    }
u.upsell
    {
    font-size: 9px;
	}
b.upsell
    {
    font-size: 12px;
	}
span.upsell
    {
    font-size: 9px;
	}
span.upsell_large
    {
    font-size: 11px;
    }
/* end of Maia's css for upsells */




/* New komodo banner styles */


.komodo_banner {
               background-image: url(/ASPN/img/ads/ASPN_banner_bg.gif);
               background-repeat: repeat-y;
               }


.komodo_banner_head {
               background-image: url('/ASPN/img/ads/ASPN_komodo_head.gif');
               background-repeat: no-repeat;
               height: 52px;
               width: 171px;
               }

.komodo_banner_title {
               margin-bottom: 5px;
               }

.komodo_banner_text {
               white-space: normal;
               width: 155px;
               margin-left: 10px;
               }

.komodo_banner_bottom {
                background-image: url('/ASPN/img/ads/ASPN_banner_bottom.gif');
                height: 7px;
                width: 171px;
                background-position: bottom;
                background-repeat: no-repeat;
                }

.komodo_banner_link {
                margin-top: 5px;
                }

div.komodo_banner a:link 
		{
		color: #664E1E;
		text-decoration:underline; 
		font-weight:normal;
		}

div.komodo_banner a:visited 
		{
		color: #664E1E;
		text-decoration:underline; 
		font-weight:normal; 
                }

div.komodo_banner a:hover 
		{
		color: #A68C53;
		text-decoration:underline; 
		font-weight:normal;
		}

/* Free ActiveCD or DVD when you purchase Komodo Professional */

.komodo-freeCD  {
               padding-top: 10px;
               }

.komodo-freeCD  div {
               margin-left: 17px;
               font-size: 11px;
               font-weight: normal;
               margin-top: -3px;                             
}

div.komodo-freeCD a:link 
		{
		color: #664E1E;
		text-decoration:underline; 
		font-weight:normal;
		}

div.komodo-freeCD a:visited 
		{
		color: #664E1E;
		text-decoration:underline; 
		font-weight:normal; 
                }

div.komodo-freeCD a:hover 
		{
		color: #A68C53;
		text-decoration:underline; 
		font-weight:normal;
		}

